{% extends 'template.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="display">
        <div class="btn-ctl">create new event</div>
        <div class="btn-ctl">List event</div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div><a href="/participant/new">ajout d'un participant</a></div>
                <div class="col-12">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Categorie</th>
                            <th scope="col">Profil</th>
                            <th scope="col">Lieu</th>
                            <th scope="col">Fin inscription</th>
                            <th scope="col">Voir Resultat</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for Dap in pList %}
                            <!--
								<span>{{ Dap.id }}</span>
								<span>{{ Dap.nom }}</span>
								<span>{{ Dap.prenom }}</span>-->
                            <tr>
                                <th scope="row">
                                    <a href="/Epreuve/id={{ Dap.id }}">{{ Dap.id }}</a>
                                </th>
                                <td>{{ Dap.nom }}</td>
                                <td>{{ Dap.categorie }}</td>
                                <td>{{ Dap.profil }}</td>
                                <td>{{ Dap.lieu }}</td>
                                <td>{{ Dap.lifeDate }}</td>
                                {% if Dap.name_status == "Resultat" %}
                                    <td><a href="#">Resultat</a></td>
                                {% endif %}
                                {% if Dap.name_status == "Close" %}
                                    <td><a href="#">Close</a></td>
                                {% endif %}
                                {% if Dap.name_status == "En Cours" %}
                                    <td><a href="#">En Cours</a></td>
                                {% endif %}
                                {% if Dap.name_status == "Annulé" %}
                                    <td><a href="#">Annulé</a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
{% endblock %}
